<html>
<head>
    <script src="/js/introHCI.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
</head>
<body>
	<div>
        <div class="img">
            <img class="logo" src="/images/logo-1.png" alt="Logo">
        </div>
        <form>
            <label for="Username"><h4>Username</h4></label><br>
            <input type = "text"><br>
        </form>
        <form>
            <label for="Password"><h4>Password</h4></label><br>
            <input type="text"><br>
        </form>

         <div class="small-button" id="log-in-button">
            <a href="homepage"><p>Sign up</p></a>
        </div>
        <div class="facebook-box">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                Log in with Facebook
            </fb:login-button>
        </div>
      
    </div>
</body>
</html>
