<html>
<head>
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
	<title>Home</title>
</head>
<body>
    <div>
        </div>
        <div class="header">
            <a href="sessionsummary"><h4>Back<h4></a> 
             <h1> Insights</h1>
            </div>
        <div class="body">
           
            <h2> Main Distractors </h2>
            <h4> <ul>
                {{#each Notes}}
                <li> {{Distractors}} </li>
                {{/each}}
            </ul></h4>
        </div>
            <h2>Advice</h2>
            {{#each Notes}}
            <li> {{Advice}} </li>
            {{/each}}
            
        </div>
        <div class="small-button">
            <a href="currentsession"><p>Return Home</p></a></button>
        </div>
    </div>
</body>
</html>