<html>
<head>
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    </style>
	<title>Reflection</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="currentsession"><img class="arrow-left" src="/images/chevron-left-lg.png"/></a>
            <h1 class="main-title">Reflection</h1>
        </div>
        <div class="question_form">
            <h4> What did you accomplish in your session?</h4>
            <textarea name="textbox" rows="8" cols="64">
            </textarea>
        </div>
        <div class="question_form">
            <h4> What was distracting in this session?</h4>
            <textarea name="textbox" rows="8" cols="64">
            </textarea>
        </div>
        <div class="slider-container">
            <h4> Rate your productivity</h4>
            <input type="range" min="0" max="5" value="1" class="slider">
        </div>

        <div class="small-button">
            <a href="sessionsummary"><p>Next</p></a></button>
        </div>
    </div>
</body>
</html>