<html>
<head>
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
	<title>Reflection</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="currentsession"><h4>Back</h4></a>
            <h1> Reflection</h1>
        </div>
        <div class="question_form">
            <h4> What did you accomplish in your session?</h4>
            <textarea name="textbox" rows="5" cols="64">
            </textarea>
        </div>
        <div class="question_form">
            <h4> What was distracting in this session?</h4>
            <textarea name="textbox" rows="5" cols="64">
            </textarea>
        </div>
        <div class="slider-container">
            <h4> Rate your productivity</h4>
            <input type="range" min="0" max="5" value="1" class="slider">
        </div>
        <div class ="checkbox">
            <h4> Check off any apps you used during your session</h4>
            <label><input type ="checkbox" class= "box" value = "Facebook">Facebook</label>
            <label><input type ="checkbox" class= "box" value = "Snapchat">Snapchat</label>
            <label><input type ="checkbox" class ="box" value = "Instagram">Instagram</label>
            <label><input type ="checkbox" class="box" value = "Other">Other</label>

        </div>

        <div class="small-button">
            <a href="sessionsummary"><p>Next</p></a></button>
        </div>
    </div>
</body>
</html>