<html>
<head>    
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    </style>
    <title>Session Summary</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("h7").html("You received 28 iMessage notifications. Muting this application can help minimize distractions!");
            });
        });
    </script>
</head>
<body>
    <div>
        <div class="header">
            <a href="reflections"><img class="arrow-left" src="/images/chevron-left-lg.png"/></a>
            <h1 class="main-title">Session Summary</h1>
        </div>
        <div class="img">
            <img class="graph2" src= "/images/graph.png" alt = "summary_graph">
        </div>
        <div class="insights">
            <h3>Insights <a href="insights"><img src="/images/chevron-right-lg.png"/></a></h3>
            <div class="link-toggle"></div>
            </div>
            <div class="card">
                     <h7> You received 28 iMessage notifications...</h7>
                <div>
                     <button id ="Seemore">See more</button>
                </div>
               
            </div>
        </div>
        <div class="socials">
            <h3>Most Used Apps</h3>
            <div class="img">
                <img class="social-icon" src="/images/instagram-logo.png" alt="Instagram">
            </div>
            <div class="socials-time">
                <h4> 24 minutes</h4>
            </div>
            <div class="img">
                <img class="social-icon" src="/images/facebook-logo.png" alt="Facebook">
            </div>
            <div class="socials-time">
                <h4> 19 minutes</h4>
            </div>
        </div>

        <div class="small-button">
            <a href="homepage"><p>Exit Session</p></a></button>
        </div>
    </div>
</body>
</html>

